.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1460d1;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
